body {
    /* font-family: 'Georgia', serif; */
    font-family: "Pacifico", cursive;
    /* background-color: #fff8f0; */
    /* background-image: url('../images/background.webp'); */
    background-image: url('../images/bac1.png');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-position: 80% center;
    color: #5a3e36;
    margin: 0; 
    padding: 40px;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.8em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

p {
    font-size: 22px;
    max-width: 600px;
    /* margin: 0 auto; */
}

a {
    color: #d67c5a;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

footer {
    margin-top: 3em;
    font-style: italic;
    font-size: 20px;
}

footer img {
    width: 50px;
}

.head1, footer{
    border: 1px solid wheat;
    background-color: rgba(221, 207, 207, 0.7);
}

.head1 img{
    width: 70px;
}

.item1 {
    border: 1px solid wheat;
    background-color: rgba(245, 240, 230, 0.8);
    padding: 20px;
    margin: 45px auto;
    transform: rotate(-3deg); /* сильный наклон налево */
    transform-origin: center;
    width: fit-content;
    border-radius: 30px
}

.item2 {
    border: 1px solid wheat;
    background-color: rgba(230, 245, 240, 0.8);
    padding: 20px;
    margin: 45px auto;;
    transform: rotate(3deg); /* наклон направо */
    transform-origin: center;
    width: fit-content;
    border-radius: 30px
}

.item3 {
    border: 1px solid wheat;
    background-color: rgba(240, 230, 245, 0.8);
    padding: 20px;
    margin: 45px auto;;
    transform: rotate(-3deg); /* сильный наклон налево */
    transform-origin: center;
    width: fit-content;
    border-radius: 30px
}

.item4 {
    border: 1px solid wheat;
    background-color: rgba(212, 214, 243, 0.8);
    padding: 20px;
    margin: 25px auto;
    transform-origin: center;
    width: fit-content;
    border-radius: 30px
}

.item4 a{
    font-size: 28px;
}

.item1 > div, .item2 > div, .item3 > div {
  transform: rotate(40deg);  /* обратный наклон для item1 */
}
.item2 > div {
  transform: rotate(-30deg); /* обратный наклон для item2 */
}
.item3 > div {
  transform: rotate(10deg);  /* обратный наклон для item3 */
}

#envelope {
    cursor: pointer;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#envelope img {
    max-width: 300px;
    /* max-height: 150px; */
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}

#envelope img.active {
    opacity: 1;
    position: relative;
}

#invite-content {
    opacity: 0;
    pointer-events: none;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
    transition: opacity 1.5s ease;
    color: #333;
    visibility: hidden;
}

#invite-content.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
