body {
    /* font-family: 'Arial', sans-serif; */
    font-family: "Bad Script", cursive;
    /* background-color: #e9e6f5; */
    background-image: url('../images/bac4.png');
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 40px 20px;
    color: #333;
  }
  .container {
    max-width: 480px;
    margin: 30% auto;
    /* background-color: rgba(240, 230, 245, 0.9); */
    background-color: rgba(94, 85, 106, 0.7);
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(180, 160, 200, 0.3);
    padding: 30px 25px;
  }
  h1 {
    text-align: center;
    color: #d4d6f3;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 32px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
  }
  th, td {
    padding: 14px 15px;
    text-align: left;
    border-bottom: 2px solid #d4d6f3;
  }
  th {
    color: #d4d6f3;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  td.time {
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
    color: #d4d6f3;
    font-weight: 600;
    font-size: 22px;
  }
  td.event {
    color: #d4d6f3;
    font-weight: 600;
    font-size: 22px;
  }
  tr:hover {
    background-color: rgba(212, 214, 243, 0.4);
  }