body {
    font-family: 'Georgia', serif;
    /* background-color: #fff8f0; */
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% center;
    color: #5a3e36;
    margin: 0; 
    padding: 40px;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.8em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 22px;
    max-width: 600px;
    margin: 0 auto 1.5em;
}

a {
    color: #d67c5a;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

footer {
    margin-top: 3em;
    font-style: italic;
    font-size: 20px;
}

footer img {
    width: 50px;
}

.head1, footer{
    border: 1px solid wheat;
    background-color: rgba(221, 207, 207, 0.7);
}

.head1 img{
    width: 70px;
}

.item1 {
  border: 1px solid wheat;
  background-color: #f5f0e6;
  padding: 20px;
  margin: 45px;
  transform: rotate(-10deg); /* сильный наклон налево */
  transform-origin: center;
}

.item2 {
  border: 1px solid wheat;
  background-color: #e6f5f0;
  padding: 20px;
  margin: 45px;
  transform: rotate(10deg); /* наклон направо */
  transform-origin: center;
}

.item3 {
  border: 1px solid wheat;
  background-color: #f0e6f5;
  padding: 20px;
  margin: 45px;
  transform: rotate(-10deg); /* сильный наклон налево */
  transform-origin: center;
}

.item4 {
  border: 1px solid wheat;
  background-color: #d4d6f3;
  padding: 20px;
  margin: 25px;
  transform-origin: center;
}

.item4 a{
    font-size: 28px;
}

/* Чтобы текст был без наклона — компенсируем внутри */
.item1 > div, .item2 > div, .item3 > div {
  transform: rotate(40deg);  /* обратный наклон для item1 */
}
.item2 > div {
  transform: rotate(-30deg); /* обратный наклон для item2 */
}
.item3 > div {
  transform: rotate(10deg);  /* обратный наклон для item3 */
}


